{% extends "base.html" %}
{% block title %}Projects • Portfolio{% endblock %}

{% block content %}
<div class="card shadow-sm border-0 p-4">
  <h1 class="mb-3">Projects</h1>

  <div class="project-card p-3 rounded">
    <h2 class="h5 mb-1">Module 1 Project Title: Personal Website</h2>
    <p class="text-muted mb-2">First Flask based Web application for branding and project tracking. Will continue to develop and build out.</p>

    <p class="mb-2">
      <strong>Details:</strong>
      This is a personal website that will have a portfolio of my recent projects, apps and resume. 
    </p>

    <p class="mb-0">
      <strong>GitHub:</strong>
      <a href="https://github.com/greatTinCole24/jhu_software_concepts/tree/main/module_1" target="_blank" rel="noreferrer">
        View Module 1 Project on GitHub
      </a>
      <span class="text-muted small"></span>
    </p>
  </div>

</div>
{% endblock %}
